# Variáveis de ambiente para configuração do GLPI
GLPI_API_URL=
GLPI_APP_TOKEN=
GLPI_USER_TOKEN=
 
# Variáveis de ambiente para configuração do GROQ
GROQ_API_KEY=
 
# Variável de ambiente para configuração do servidor
PORT=
 
# Variável de ambiente para configuração do bot do telegram
TELEGRAM_API_KEY=
